extends layout

block content
  h1= title
  form(action="/loan-calculator" method="get")
    div(class="form-group")
      input(type="number" class="form-control" placeholder="Loan amount" name="amount")
      input(type="number" class="form-control" placeholder="Years" name="years")
    button(type="submit" class="btn btn-primary") Submit
